@charset "UTF-8";

/* reset css */
h1,
h2,
h3,
h4,
h5,
h6
 {
  margin: 0em;
  padding: 0em;
}
/* reset css end */

/* global */
body {
  font: 100%/1.5 tahoma, helvetica, arial, "Microsoft YaHei", simsun, sans-serif;
  color: #333;
}

.description, .meta {
  color: gray;
}

a {
  color: #333;
  text-decoration: none;
}

.previous {
}

.next {
  float: right;
}

table.compat-table { border-color: #bbb; border-collapse: collapse; margin: 0 }
table.compat-table td { padding: 5px; border: 1px solid #ccc; background: #fff; vertical-align: top; word-wrap: break-word }
table.compat-table th,
table.compat-table td.header { border: 1px solid #bbb; padding: 0 5px; background: #eee; }

/* container */
#container>header {
  margin: 1em 0;
}

#container>header>nav {
  font-family: Calibri;
}

#container>header nav ul, nav li {
  display: inline;
  text-transform: uppercase;
}

#container>header nav li: {
  margin-right: 1em;
}

#container>header nav li:last-child {
  margin-right: 0;
}

#container>header>p {
  margin: 0em;
  padding: 0em;
}

#container>footer {
  font-size: .8em;
  text-align: center;
}

#container img {
  border: 1px solid #ccc;
  padding: .5em;
  border-radius: 0.3em;
  box-shadow: 2px 2px 10px #999;
}

#content a {
  border-bottom: 1px dotted;
}
/* article */
article {
  font-size: 14px;
  margin-bottom: 2em;
}

article header {
  text-align: center;
}

article div.content {
  letter-spacing: 1px;
  margin-bottom: 10px;
}

article nav span:last-child {
  float:right;
}

article footer {
  padding: 1em 0;
  border-top: 1px solid #404040;
}

/* code */
code {
  font: 87.5%/normal Courier New, monospace;
  background: #eee;
  padding: 0.2em 0.3em;
  border:1px solid #ddd;
  border-radius:0.3em;
  letter-spacing: normal;
}

pre {
  background: #eee;
  padding: 0.6em;
  border:1px solid #ddd;
  border-radius:0.3em;
  overflow:auto;
}

pre code {
  border:none;
  padding: 0;
}

.gist {
  letter-spacing: normal;
}

/* pageinator */
#paginator {
  margin-bottom: 2em;
}

/* special */
#twitter-logo, #github-logo {
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
