---
layout: default
title: bianbian's blog
---

{% for page in paginator.posts %}
  {% assign body = page.content %}
  <article>
    <header>
      <h1><a href="{{ page.url }}">{{page.title}}</a></h1>
    </header>
    <div class="content">
      {{ body }}
    </div>
  </article>
{% endfor %}

<div id="paginator">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="newer" href="/">&larr; newer posts</a>
    {% else %}
      <a class="newer" href="/page{{ paginator.previous_page }}">&larr; newer posts</a>
    {% endif %}
  {% endif %}
  {% if paginator.next_page %}<a class="older" href="/page{{ paginator.next_page }}">older posts &rarr;</a>{% endif %}
</div>
