---
layout: default
title: Home
---
{% for page in paginator.posts %}
<p><span class="meta">{{ page.date | date: "%Y-%m-%d" }}</span> : <a href="{{ page.url }}">{{ page.title }}</a></p>
{% endfor %}

<div id="paginator">
  <span>
  {% if paginator.previous_page %}
  	{% if paginator.previous_page == 1 %}
  		<a href="/">« Previous</a>
  	{% else %}
  		<a href="{{ paginator.previous_page_path }}">« Previous</a>
  	{% endif %}
  {% else %}
  	« Nothing
  {% endif %}
  </span>
  <span class="next">
  {% if paginator.next_page %}
  	<a href="{{ paginator.next_page_path }}">Next »</a>
  {% else %}
  	Nothing »
  {% endif %}
  </span>
</div>
