body {
  padding: 2.5em 0;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: Georgia, serif;
  color: #404040;
}

a {
  color: #0DA4BC;
  text-decoration: none;
}

a:hover {
  color: #086674;
  text-decoration: underline;
}

.clearfix{zoom:1}.clearfix:before,.clearfix:after{display:table;content:"";zoom:1}.clearfix:after{clear:both}

#container>header {
  margin-bottom: 3em;
}

#container>footer {
  margin-top: 20px;
  font-size: .8em;
}

article {
  margin-bottom: 80px;

}

article header {
  border-bottom: 1px solid #0DA4BC;
}

article footer {
  padding: 1em 0;
  border-top: 1px solid #404040;
}

nav ul, nav li {
  display: inline;
}

nav li::before {
  content: " · "
}

nav li:first-child::before {
  content: ""
}

#logo {
  padding: 0;
  margin: 0;
}

.strap {
  padding: 0;
  margin: 0;
}

#aboutme {
  float: left;
  width: 72%;
  margin-right: 20px;
}

#portrait {
  float: right;
  padding: 1em;
}

code,pre {font-family:Monaco, Andale Mono, Courier New, monospace;font-size:0.8em;}
code{font-size:0.9em;background:#222222;padding-left:0.2em;padding-right:0.2em;color:white;}
pre{line-height:1.4em;display:block;color:white;background:#222222;-moz-border-radius:0.3em;-webkit-border-radius:0.3em;border-radius:0.3em;padding:0.6em;}
